<h1>Welcome to the Library</h1>
<h3>We got books and things.</h3>
<h4>We got all the things to see, we know the author names</h4>
<h4>We are the librarians, indexing all you read</h4>

<form action="/patron/new" method="post">
  <label for="name">Sign Up for the Library</label>
  <input type="text" name="name" placeholder="Your name here">
  <button name="David" type="submit" class="btn btn-sm btn-primary">Go</button>
</form>

<ul>
  <% @patrons.each do |patron| %>
  <li>
    <a href="/patron/<%= patron.id %>">
      <%= patron.name %>
    </a>
  </li>

<% end %>
</ul>

<form action="/librarian/new" method="post">
  <label for="name">Sign Up to be a Librarian</label>
  <input type="text" name="name" placeholder="Your name here">
  <button name="David" type="submit" class="btn btn-sm btn-primary">Go</button>
</form>

<ul>
  <% @librarians.each do |librarian| %>
  <li>
    <a href="/librarian/<%= librarian.id %>">
      <%= librarian.name %>
    </a>
  </li>

<% end %>
</ul>


<a href="/patron">Patrons Click Here</a>
<br>
<a href="/librarian">Librarians Click Here</a>
